/* Google Font */
/*@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Francois+One);*/

h1,h2 {
	font-family: 'Roboto Slab', serif;
	margin-bottom: 5px;
	padding-bottom: 0px;
}

hr {
	opacity: .4;
}

.site-wrapper {
	width:80%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	
}

.header {
	margin:10px 0;
	/*text-align: center;*/
	color:hsla(41, 48%, 50%, 1);
	font-size: 24px;
}

.signature {
	position: relative;
	bottom: -35px;

}