input {
	padding:0;
	border: 0;
}

table {
	border-width: 0;
	border-collapse: collapse;
	border-spacing: 0px;
}
	tr {
		background-color: grey;
	}
	th {
		padding: 0;
	}

.side-bar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 200px;
    background-color: #eee;
}
	.side-bar a {
		display: block;
		color: #000;
		padding: 5px 10px;
		border-bottom-width:.5px;
		border-bottom-color: black;
	}
	.side-bar:hover {
		/*left: -200px;*/
	}

.site-wrapper {
	position: absolute;
	left:200px;
}

